.main{
  margin-top: 70px;
  margin-bottom: 30px;
}

.fragrances{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 200px;
}

.fragContainer{
  width: 190px;
  height: 250px;
  margin: 15px;
}

.frag{
  display: grid;
  width: 200px;
  height: 250px;
}



.fragImage{
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.fragName{
  margin: auto;
}

.fragContainer:hover{
  border: 1px solid rgb(210, 210, 210);
  border-radius: 10px;
}

