.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    
    background-color: rgb(80, 89, 251);
  }

  .logo {
    border-radius: 10px;
  }

  .logo:hover {
    border-color: black;
  }
  
  .title {
    font-family: "copperplate";
    font-size: 30px;
  }