.btn {
    display: inline-block;
    border: 2px solid green;
    color: #000000;
    padding: 15px 20px;
    border-radius: 10px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover{
    background-color: #bee0fd;
    border: 2px solid transparent;
}

.multiBtn{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}